#form{
margin-top: 60px;
display: flex;
justify-content: center;
margin-left: 25%;
margin-right: 25%;
border: 1px solid rgba(128, 128, 128, 0.288);
border-radius: 5px;
box-shadow: 1px 1px 10px 17px rgba(228, 226, 226, 0.37);
background-color: #0d6dfd80 ;
padding-top: 20px;
padding-bottom: 20px;

}
body{
  background-color: rgba(241, 241, 241, 0.582)!important;
}
img{
  height: 300px;
  margin-right: 50px;
  margin-top: 30px;
}
.name{
  color: white;
}
#butt{
margin-left: 60px;
}